<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541450653193-6nsvm9689lcmrap2a2hvga2tg5ajr7t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541450653193-6nsvm9689lcmrap2a2hvga2tg5ajr7t0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541450653193-86ts1qso9u7of1slg73lkdrn67abisee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG3ZxrYES1AoWSb8zxCuyKFE72AdqgAKE</string>
	<key>GCM_SENDER_ID</key>
	<string>541450653193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.tomitheninja.spendtrkr</string>
	<key>PROJECT_ID</key>
	<string>spendtrkr-e40ce</string>
	<key>STORAGE_BUCKET</key>
	<string>spendtrkr-e40ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541450653193:ios:1c43c41530b6a3f39272d8</string>
</dict>
</plist>